@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
h2 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
p {
    font-family: 'Poppins', sans-serif;
}
ul, li {
    list-style-type: none;
    display: inline-block;
}
img {
    margin-bottom: 20px;
    margin-right: 10px;
    border: 5px solid black;
    border-radius: 3px;
}