@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
h2 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
h3 {
    font-family: 'Rubik', sans-serif;
}
p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -1%;
}
a {
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    color: blue;
}
ul {
    list-style-type: none;
}
img {
    margin-bottom: 20px;
    border: 5px solid black;
    border-radius: 3px;
}
.links-tab {
    background-color:goldenrod;
    width: 20vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    margin-left: -230px;
    border: 5px solid black;
    border-radius: 3px;
    transition-duration: 350ms;
}
.links-tab:hover {
    background-color:lightgoldenrodyellow;
    margin-left: -15px;
    transition-duration: 150ms;
}